EmployeeWeb/WebContent/WEB-INF/wsdl/EmployeeBean.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="EmployeeBeanService"
	targetNamespace="http://bean.emp.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bean.emp.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://bean.emp.com/"
			version="1.0" xmlns:tns="http://bean.emp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="getEmployee" type="tns:getEmployee" />
			<xs:element name="getEmployeeResponse" type="tns:getEmployeeResponse" />
			<xs:complexType name="getEmployee">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getEmployeeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:employee" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="employee">
				<xs:sequence>
					<xs:element minOccurs="0" name="empId" type="xs:string" />
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getEmployee">
		<wsdl:part element="tns:getEmployee" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmployeeResponse">
		<wsdl:part element="tns:getEmployeeResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EmployeeBean">
		<wsdl:operation name="getEmployee">
			<wsdl:input message="tns:getEmployee" name="getEmployee">
			</wsdl:input>
			<wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EmployeeBeanServiceSoapBinding" type="tns:EmployeeBean">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getEmployee">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getEmployee">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getEmployeeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EmployeeBeanService">
		<wsdl:port binding="tns:EmployeeBeanServiceSoapBinding"
			name="EmployeeBeanPort">
			<soap:address
				location="http://localhost:8080/EmployeeWeb/EmployeeBeanService/EmployeeBean" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>